pydantic-ai==1.4.0
fsspec==2025.12.0
sse-starlette==3.0.2
decorator==4.4.2
coloredlogs==15.0.1
kiwisolver==1.4.7
triton==3.5.0
opt_einsum==3.4.0
filelock==3.20.0
annotated-doc==0.0.4
blake3==1.0.8
coolname==2.2.0
nltk==3.9.1
numexpr==2.10.2
more-itertools==10.7.0
tomli==2.0.2
fonttools==4.54.1
py-cpuinfo==9.0.0
repoze.lru==0.7
jaxtyping==0.3.2
sentence-transformers==4.1.0
apache-tvm-ffi==0.1.6
gemini-cli==0.2.5
h11==0.14.0
ruff==0.6.9
setproctitle==1.3.5
Markdown==3.10
tiktoken==0.9.0
aiofiles==24.1.0
nvidia-cuda-runtime-cu12==12.8.90
cachetools==5.5.0
math-verify==0.8.0
archspec==0.2.3
chex==0.1.90
google-genai==1.46.0
pluggy==1.6.0
websockets==14.0
Pygments==2.18.0
llguidance==1.3.0
anyio==4.11.0
validators==0.35.0
sympy==1.14.0
boto3==1.40.58
liger_kernel==0.6.4
tensorstore==0.1.76
openai-harmony==0.0.4
typing==3.7.4.3
googleapis-common-protos==1.65.0
groq==0.33.0
ptyprocess==0.7.0
webencodings==0.5.1
types-protobuf==6.32.1.20250918
i2==0.1.48
tinyrpc==1.1.7
sae-lens==6.3.0
pfzy==0.3.4
pydantic-settings==2.10.1
black==25.1.0
oslo.config==10.0.0
lark==1.2.2
scipy==1.15.2
Jinja2==3.1.6
prometheus_client==0.22.1
ovs==3.5.1
timeout-decorator==0.5.0
blobfile==2.1.1
virtualenv==20.31.2
pybind11==2.13.6
httptools==0.6.4
defusedxml==0.7.1
jsonschema-specifications==2025.4.1
plotly-express==0.4.1
arc-lang-public==0.1.0
graze==0.1.29
gitdb==4.0.12
cssselect2==0.8.0
click==8.1.7
drawsvg==2.4.0
nvidia-cufft-cu12==11.3.3.83
yarl==1.20.1
orjson==3.10.11
mistral_common==1.8.5
simple-parsing==0.1.7
opentelemetry-semantic-conventions==0.59b0
tensorboard==2.20.0
nest-asyncio==1.6.0
s3transfer==0.14.0
plotly==5.24.1
docstring_parser==0.16
jsonlines==4.0.0
portalocker==3.2.0
prometheus-fastapi-instrumentator==7.1.0
pandas==2.3.0
pooch==1.8.2
tensordict==0.6.2
partial-json-parser==0.2.1.1.post6
multiprocess==0.70.16
ryu==4.34
arc-py==0.12
nvidia-cutlass-dsl==4.3.4
jsonschema==4.24.0
inquirerpy==0.3.4
nvidia-cublas-cu12==12.8.4.1
conda-libmamba-solver==24.1.0
fastapi==0.127.0
argdantic==1.3.3
pydantic-ai-slim==1.4.0
uritemplate==4.1.1
nvidia-cudnn-frontend==1.17.0
compressed-tensors==0.12.2
fastrlock==0.8.3
email_validator==2.2.0
async-timeout==5.0.1
stevedore==5.4.1
annotated-types==0.7.0
types-requests==2.32.4.20250913
aiohttp-cors==0.8.1
ray==2.50.1
antlr4-python3-runtime==4.9.3
nvidia-nvjitlink-cu12==12.8.93
flax==0.10.7
markdown-it-py==3.0.0
python-pptx==1.0.2
codetiming==1.4.0
imageio==2.37.0
charset-normalizer==3.4.4
PySocks==1.7.1
fuzzywuzzy==0.18.0
ag-ui-protocol==0.1.9
aiosignal==1.3.2
hjson==3.1.0
diffusers==0.29.2
eventlet==0.33.3
xai-sdk==1.3.1
tensorboard-data-server==0.7.2
babe==0.0.7
json_repair==0.48.0
opentelemetry-proto==1.38.0
av==16.0.1
soxr==1.0.0
hydra-core==1.3.2
smart_open==7.3.0
diskcache==5.6.3
python-multipart==0.0.20
parso==0.8.5
tqdm==4.67.1
nvidia-curand-cu12==10.3.9.90
torchaudio==2.9.0
pyarrow==20.0.0
lm-format-enforcer==0.11.3
et_xmlfile==2.0.0
astor==0.8.1
ffmpy==1.0.0
rsa==4.9
cbor2==5.7.1
jaxued==0.0.1
opentelemetry-exporter-otlp-proto-http==1.38.0
fancy-einsum==0.0.3
conda-package-handling==2.2.0
jsonpointer==2.4
rich==13.9.4
wcwidth==0.2.14
gymnasium==1.2.0
peft==0.17.0
lxml==4.9.4
config2py==0.1.37
optax==0.2.5
gguf==0.17.1
typing-inspection==0.4.2
tzdata==2025.2
cloudpickle==3.1.1
soupsieve==2.8
nvidia-ml-py==13.580.82
opencv-python-headless==4.11.0.86
pexpect==4.9.0
hiredis==3.0.0
ninja==1.13.0
ruamel.yaml==0.18.6
python-dotenv==1.0.1
cuda-bindings==13.1.1
python-json-logger==4.0.0
pillow==12.0.0
grpcio==1.76.0
rfc3986==2.0.0
simplejson==3.20.1
appdirs==1.4.4
pyperclip==1.11.0
referencing==0.36.2
typing_extensions==4.15.0
nvidia-cusparse-cu12==12.5.8.93
lpips==0.1.4
urllib3==2.5.0
autopep8==2.3.2
soundfile==0.13.1
func_timeout==4.3.5
openpyxl==3.1.5
mdurl==0.1.2
redis==5.2.0
beautifulsoup4==4.14.3
asyncer==0.0.8
conda-pack==0.8.1
fastapi-cloud-cli==0.3.1
opentelemetry-exporter-otlp-proto-common==1.38.0
proglog==0.1.12
docker-pycreds==0.4.0
pydantic==2.12.3
networkx==3.4.2
Werkzeug==3.1.4
proto-plus==1.25.0
numba==0.61.2
pyasn1==0.6.1
stack-data==0.6.3
pytest-profiling==1.8.1
google-api-python-client==2.182.0
httpx-sse==0.4.0
humanfriendly==10.0
wheel==0.43.0
opentelemetry-sdk==1.38.0
google-api-core==2.22.0
torchvision==0.24.0
ml_dtypes==0.5.1
trimesh==4.10.0
outlines==0.1.11
nexus-rpc==1.1.0
sniffio==1.3.1
conda==24.11.3
mamba==1.5.8
rich-toolkit==0.15.1
opentelemetry-util-http==0.59b0
lazy_loader==0.4
msgspec==0.19.0
patsy==1.0.1
replicate==1.0.7
rpds-py==0.26.0
pure_eval==0.2.3
latex2sympy2_extended==1.10.2
nvidia-cusolver-cu12==11.7.3.90
Pebble==5.1.1
httplib2==0.22.0
WebOb==1.8.9
fastapi-cli==0.0.14
mcp==1.19.0
cuda-pathfinder==1.3.3
zstandard==0.22.0
pydantic-extra-types==2.10.6
argcomplete==3.6.3
pip==25.1.1
google-ai-generativelanguage==0.6.15
importlib_resources==6.5.2
six==1.16.0
huggingface-hub==0.36.0
asyncpg==0.30.0
Routes==2.5.1
genai-prices==0.0.35
pyasn1_modules==0.4.1
sentencepiece==0.2.0
model-hosting-container-standards==0.1.12
greenlet==3.2.4
wadler_lindig==0.1.7
nvidia-nccl-cu12==2.27.5
pycparser==2.22
pycosat==0.6.6
unsloth_zoo==2025.6.8
semantic-version==2.10.0
cycler==0.12.1
sentry-sdk==2.25.1
plyfile==1.1.3
watchfiles==0.24.0
setuptools==80.9.0
google-generativeai==0.8.5
transformers==4.57.3
safetensors==0.7.0
requests==2.32.5
pydantic_core==2.41.4
distro==1.9.0
cairocffi==1.7.1
mypy_extensions==1.1.0
groovy==0.1.2
sortedcontainers==2.4.0
eval_type_backport==0.2.2
qwen-vl-utils==0.0.14
ruamel.yaml.clib==0.2.8
rignore==0.7.1
pycountry==24.6.1
torch==2.9.0
scikit-image==0.25.2
easydict==1.13
frozenlist==1.7.0
torchdata==0.11.0
arckit==0.1.0
nvidia-nvshmem-cu12==3.3.20
regex==2025.11.3
opentelemetry-instrumentation==0.59b0
CairoSVG==2.8.2
jedi==0.19.2
tomlkit==0.13.3
grpcio-status==1.67.1
opencv-python==4.12.0.88
omegaconf==2.3.0
imageio-ffmpeg==0.6.0
pydantic-graph==1.4.0
fastavro==1.12.1
depyf==0.20.0
flatbuffers==25.9.23
deepspeed==0.15.4
ipython==8.37.0
libmambapy==1.5.8
conda_package_streaming==0.9.0
oslo.i18n==6.5.1
uvicorn==0.32.0
packaging==25.0
gradio==6.1.0
opentelemetry-api==1.38.0
logfire==4.14.1
asttokens==2.4.1
contourpy==1.3.0
ipdb==0.13.13
Deprecated==1.2.14
pbr==6.1.1
ijson==3.4.0
humanize==4.12.3
tifffile==2025.5.10
psutil==7.1.3
pycryptodomex==3.23.0
outlines_core==0.2.11
tokenizers==0.22.1
dill==0.3.8
logfire-api==4.14.1
PyYAML==6.0.3
boostedblob==0.15.6
statsmodels==0.14.5
arcle==0.2.6
accelerate==1.12.0
gymnax==0.0.9
toolz==1.0.0
nvidia-cuda-cupti-cu12==12.8.90
safehttpx==0.1.7
propcache==0.3.2
devtools==0.12.2
cuda-python==13.1.1
idna==3.11
torchtyping==0.1.5
msgpack==1.1.1
prompt_toolkit==3.0.52
numpy==2.2.6
protobuf==5.29.5
mpmath==1.3.0
etils==1.13.0
xgrammar==0.1.27
sty==1.0.6
einops==0.8.1
pyparsing==3.2.0
Brotli==1.1.0
moviepy==1.0.3
wrapt==1.16.0
flashinfer-python==0.5.3
opencensus==0.11.4
better-abc==0.0.3
jmespath==1.0.1
hf-xet==1.2.0
exceptiongroup==1.2.2
nvidia-nvtx-cu12==12.8.90
automated-interpretability==0.0.13
truststore==0.8.0
temporalio==1.18.0
botocore==1.40.58
zipp==3.21.0
pillow_heif==1.1.1
cupy-cuda12x==13.6.0
aiohttp==3.12.13
httpcore==1.0.6
menuinst==2.0.2
pydantic-evals==1.4.0
nvidia-cufile-cu12==1.13.1.3
uvloop==0.21.0
tabulate==0.9.0
matplotlib==3.9.2
ujson==5.10.0
wandb==0.22.2
trl==0.16.0.dev0
carvekit==4.1.2
beartype==0.14.1
absl-py==2.3.1
unsloth==2025.6.12
platformdirs==4.2.0
complexipy==3.3.0
loguru==0.7.3
gprof2dot==2025.4.14
transformers-stream-generator==0.0.5
vllm==0.13.0
distlib==0.3.9
airportsdata==20250909
griffe==1.14.0
gdown==5.2.0
timm==1.0.22
cut-cross-entropy==25.1.1
opentelemetry-instrumentation-httpx==0.59b0
roma==1.5.4
pyzmq==26.0.0
opencensus-context==0.1.3
onnxruntime==1.23.2
netaddr==1.3.0
matplotlib-inline==0.1.7
vlmeval==0.1.0
adam-atan2-pytorch==0.2.4
jsonpatch==1.33
cohere==5.19.0
MarkupSafe==3.0.3
starlette==0.50.0
certifi==2025.11.12
boltons==24.0.0
pathspec==0.12.1
bitsandbytes==0.46.0
pytest==8.4.1
executing==2.1.0
orbax-checkpoint==0.11.19
multidict==6.4.4
Farama-Notifications==0.0.4
importlib_metadata==8.5.0
pydub==0.25.1
rembg==2.0.69
traitlets==5.14.3
scikit-learn==1.6.1
tinycss2==1.4.0
seaborn==0.13.2
dol==0.3.19
iniconfig==2.1.0
gradio_client==2.0.1
py2store==0.1.20
pycodestyle==2.14.0
frozendict==2.4.2
pygame==2.6.1
pybase64==1.4.2
smmap==5.0.2
verl==0.4.1.dev0
colorful==0.5.7
attrs==25.3.0
pylatexenc==2.10
jiter==0.7.0
tenacity==9.1.2
google-auth-httplib2==0.2.0
transformer-lens==2.16.1
nvidia-cuda-nvrtc-cu12==12.8.93
treescope==0.1.9
tyro==0.9.26
nvidia-cusolver-cu12==11.6.1.9
shtab==1.7.2
pytz==2025.2
aiohappyeyeballs==2.6.1
PyMatting==1.1.14
python-dateutil==2.9.0.post0
itsdangerous==2.2.0
toml==0.10.2
shellingham==1.5.4
typer==0.20.0
interegular==0.3.3
httpx==0.28.1
GitPython==3.1.44
py-spy==0.4.0
google-auth==2.36.0
openai==1.108.0
dotenv==0.9.9
invoke==2.2.1
typeguard==4.4.4
hf_transfer==0.1.9
xxhash==3.5.0
anthropic==0.71.0
joblib==1.4.2
colorama==0.4.6
opentelemetry-exporter-prometheus==0.59b0
cffi==1.16.0
supervisor==4.3.0
dnspython==2.7.0
nvidia-cusparselt-cu12==0.7.1
threadpoolctl==3.6.0
llvmlite==0.44.0
nvidia-cudnn-cu12==9.10.2.21
imagesize==1.4.1
xlsxwriter==3.2.9
pymongo==4.13.2
mistralai==1.9.11
datasets==4.0.0
arc-lang-public==0.1.0
spatial-reasoner==0.1.0.dev0
jaraco.collections==5.1.0
packaging==24.2
importlib_metadata==8.0.0
tomli==2.0.1
backports.tarfile==1.2.0
typing_extensions==4.12.2
jaraco.context==5.3.0
typeguard==4.3.0
autocommand==2.2.2
jaraco.text==3.12.1
more-itertools==10.3.0
platformdirs==4.2.2
wheel==0.45.1
inflect==7.3.1
jaraco.functools==4.0.1
zipp==3.19.2
